In [8]:
from tensorflow.keras import datasets, preprocessing, models, layers

VOCAB_SIZE = 88584

(train_data, train_labels), (test_data, test_labels) = datasets.imdb.load_data(num_words = VOCAB_SIZE)
train_data[1]

[1,
 194,
 1153,
 194,
 8255,
 78,
 228,
 5,
 6,
 1463,
 4369,
 5012,
 134,
 26,
 4,
 715,
 8,
 118,
 1634,
 14,
 394,
 20,
 13,
 119,
 954,
 189,
 102,
 5,
 207,
 110,
 3103,
 21,
 14,
 69,
 188,
 8,
 30,
 23,
 7,
 4,
 249,
 126,
 93,
 4,
 114,
 9,
 2300,
 1523,
 5,
 647,
 4,
 116,
 9,
 35,
 8163,
 4,
 229,
 9,
 340,
 1322,
 4,
 118,
 9,
 4,
 130,
 4901,
 19,
 4,
 1002,
 5,
 89,
 29,
 952,
 46,
 37,
 4,
 455,
 9,
 45,
 43,
 38,
 1543,
 1905,
 398,
 4,
 1649,
 26,
 6853,
 5,
 163,
 11,
 3215,
 10156,
 4,
 1153,
 9,
 194,
 775,
 7,
 8255,
 11596,
 349,
 2637,
 148,
 605,
 15358,
 8003,
 15,
 123,
 125,
 68,
 23141,
 6853,
 15,
 349,
 165,
 4362,
 98,
 5,
 4,
 228,
 9,
 43,
 36893,
 1157,
 15,
 299,
 120,
 5,
 120,
 174,
 11,
 220,
 175,
 136,
 50,
 9,
 4373,
 228,
 8255,
 5,
 25249,
 656,
 245,
 2350,
 5,
 4,
 9837,
 131,
 152,
 491,
 18,
 46151,
 32,
 7464,
 1212,
 14,
 9,
 6,
 371,
 78,
 22,
 625,
 64,
 1382,
 9,
 8,
 168,
 145,
 23,
 4,
 1690,
 15,
 16,
 4,
 1355,
 5,
 28,
 6,
 52,
 154,
 462,
 33,
 89,
 78,
 285,
 16,
 145,
 95]

In [9]:
# Pre-process rows to have the same length
print("Original length: {}".format(len(train_data[1])))

MAX_LEN = 250 
train_data = preprocessing.sequence.pad_sequences(train_data, MAX_LEN)
test_data = preprocessing.sequence.pad_sequences(test_data, MAX_LEN)

print("New length: {}".format(len(train_data[1])))
train_data[1]

Original length: 189
New length: 250

array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     1,   194,
        1153,   194,  8255,    78,   228,     5,     6,  1463,  4369,
        5012,   134,    26,     4,   715,     8,   118,  1634,    14,
         394,    20,    13,   119,   954,   189,   102,     5,   207,
         110,  3103,    21,    14,    69,   188,     8,    30,    23,
           7,     4,   249,   126,    93,     4,   114,     9,  2300,
        1523,     5,   647,     4,   116,     9,    35,  8163,     4,
         229,     9,   340,  1322,     4,   118,     9,     4,   130,
        4901,    19,     4,  1002,     5,    89,    29,   952,    46,
          37,     4,   455,     9,    45,    43,    38,  1543,  1905,
         398,     4,  1649,    26,  6853,     5,   163,    11,  3215,
       10156,     4,  1153,     9,   194,   775,     7,  8255, 11596,
         349,  2637,   148,   605, 15358,  8003,    15,   123,   125,
          68, 23141,  6853,    15,   349,   165,  4362,    98,     5,
           4,   228,     9,    43, 36893,  1157,    15,   299,   120,
           5,   120,   174,    11,   220,   175,   136,    50,     9,
        4373,   228,  8255,     5, 25249,   656,   245,  2350,     5,
           4,  9837,   131,   152,   491,    18, 46151,    32,  7464,
        1212,    14,     9,     6,   371,    78,    22,   625,    64,
        1382,     9,     8,   168,   145,    23,     4,  1690,    15,
          16,     4,  1355,     5,    28,     6,    52,   154,   462,
          33,    89,    78,   285,    16,   145,    95], dtype=int32)